appnope==0.1.2
asgiref==3.4.1
autopep8==1.5.7
backcall==0.2.0
boto3==1.19.0
botocore==1.22.0
certifi==2021.10.8
charset-normalizer==2.0.7
decorator==5.1.0
dj-database-url==0.5.0
Django==3.2.8
django-environ==0.8.1
django-heroku==0.3.1
-e git+git://github.com/danawoodman/django-reviews.git@b8daab8ae9aeed1b93556d6ec768bcb89087ee25#egg=django_reviews
gunicorn==20.1.0
idna==3.3
ipython==7.28.0
jedi==0.18.0
jmespath==0.10.0
matplotlib-inline==0.1.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
prompt-toolkit==3.0.20
psycopg2==2.9.1
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pycodestyle==2.8.0
Pygments==2.10.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
traitlets==5.1.0
urllib3==1.26.7
wcwidth==0.2.5
whitenoise==5.3.0
