{% extends 'base.html' %}
{% block content %}

<h1>Collectible Details</h1>

<section class="bg-light">
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-5 mt-5">
          <div class="card mb-3">
            <img class="card-img" src="https://i.imgur.com/sMBXD2A.png" alt="Card image cap" id="product-detail">
          </div>
          <div class="row">
            <!--Start Controls-->
          </div>
        </div>
        <!-- col end -->
        <div class="col-lg-7 mt-5">
          <div class="card">
            <div class="card-body">
              <h1 class="h2">{{ nft.title }} - *note for developers: add the user who created NFT here?</h1>
              <p class="h3 py-2">Buy It Now: ${{ nft.price }}</p>
              <!-- removed bidding element for now, need to implement for future use -->
              <!-- <p class="h3 py-2">Starting Bid: $200</p> -->
              <p class="py-2">
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-warning"></i>
                <i class="fa fa-star text-secondary"></i>
                <span class="list-inline-item text-dark">Rating 4.8 | 36 Comments</span>
              </p>
              <ul class="list-inline">
                <!-- <li class="list-inline-item">
                  Do we keep the category? If so, we need to add that in the model
                  <h6>Category: Animation</h6>
                </li> -->
                <li class="list-inline-item">

                </li>
              </ul>
  
              <!-- <h6>Description:</h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse. Donec condimentum elementum convallis. Nunc sed orci a diam ultrices aliquet interdum quis nulla.</p>
              <ul class="list-inline">
                <li class="list-inline-item">
                  <h6>Bid Ends in :</h6>
                </li>
                <li class="list-inline-item">

                </li>
              </ul> -->
  
              <!-- <h6>Specification:</h6>
              <ul class="list-unstyled pb-3">
                <li>Lorem ipsum dolor sit</li>
                <li>Amet, consectetur</li>
                <li>Adipiscing elit,set</li>
                <li>Duis aute irure</li>
                <li>Ut enim ad minim</li>
                <li>Dolore magna aliqua</li>
                <li>Excepteur sint</li>
              </ul> -->
  
              <form action="" method="GET">
                <input type="hidden" name="product-title" value="Activewear">
                <div class="row">
                  <div class="col-auto">
                  </div>
                </div>
                <div class="row pb-3">
                  <div class="col d-grid">
                    <a href="{% url 'nfts_update' nft.id %}" class="btn btn-dark btn-lg">Edit</a>
                  </div>
                  <div class="col d-grid">
                    <a href="{% url 'nfts_delete' nft.id %}" class="btn btn-dark btn-lg">Delete</a>
                  </div>
                  <div class="col d-grid">
                    <button type="submit" class="btn btn-dark btn-lg" name="submit" value="addtocard">Place Bid</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Comment Section -->

  <form action="{% url 'add_comment' nft.id %}" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="btn btn-primary" value='add comment'>
  </form>
  
  {% for comment in nft.comment_set.all %}
  <div class="card">
    <div class="card-header">
      Username: *maybe time stamp it?*
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{ comment.text }}</p>
        <p>{{ comment.rating }}</p>
      </blockquote>
    </div>
  </div>
  {% endfor %}
{% endblock %}