{% extends 'base.html' %}
{% block content %}

<h1 style="margin-top: 10%;">All NFT's</h1>
<div class="products row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
  {% for nft in nfts %}
  <a href="/nfts/{{ nft.id }}" style="text-decoration: none; color: black;">
    <div class="product col">
      <div class="card card-product shadow-sm">
      {% for photo in nft.photo_set.all %}
        <img class="card-img" src="{{photo.url}}" alt="Card image cap" id="product-detail">
      {% empty %}  
        <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
      {% endfor %}
        <div class="card-body">
          <h2 class="card-title"> {{ nft.title }}</h2>
          <h3 style = "font-size: 1.5rem; color: purple;">{{ nft.user }}</h3>
          <p class="card-text">${{ nft.price }}</p>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
