{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NFT Exchange</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <style>
    footer{
      color: rgba(255, 255, 255, 1);
    }
  </style>
</head>
<body>
  <div class="move-nav-bar"></div>
  <nav class="navbar">
    <div class="brand-title"><i class="fas fa-coins me-3"></i><a href="/">Tokenize</a></div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="nav-links">
      <ul class="right">
        <li><a href="/nfts">Explore</a></li>
        <li><a href="/about">About Us</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'nfts_create' %}">Create NFT</a></li>
        <li><a href="/">My Profile</a></li>
        <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
        <!-- move the nfts_create into the above if statement when functional -->
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
      </ul>
    </div>

  </nav>


  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  
<!-- Footer -->
<footer class="text-center text-lg-start" style = "background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); text-decoration: none;
color: rgba(255, 255, 255, 0.7); margin-top: 100px; margin-bottom: 0;">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-coins me-3"></i>Tokenize
          </h6>
          <p>
           This 
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Technologies Used
          </h6>
          <p>
            <div href="#!" class="text-reset">Django</div>
          </p>
          <p>
            <div href="#!" class="text-reset">Python</div>
          </p>
          <p>
            <div href="#!" class="text-reset">HTML</div>
          </p>
          <p>
            <div href="#!" class="text-reset">CSS</div>
          </p>
          <p>
            <div href="#!" class="text-reset">Javascript</div>
          </p>
          <p>
            <div href="#!" class="text-reset">PostgresSQL</div>
          </p>
          <p>
            <div href="#!" class="text-reset">AWS</div>
          </p>
          <p>
            <div href="#!" class="text-reset">Heroku</div>
          </p>
          <p>
            <div href="#!" class="text-reset">Git</div>
          </p>
          <p>
            <div href="#!" class="text-reset">Bootstrap</div>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p><i class="fab fa-github me-3"></i><a class="text-reset" href="https://github.com/AustinLeaming/nft-exchange">Project Repo</a></p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
        
          <p><i class="fab fa-linkedin me-3"></i><a class="text-reset" href="https://www.linkedin.com/in/dbhinton/">David Hinton</a></p>
          <p><i class="fab fa-linkedin me-3"></i><a class="text-reset" href="https://www.linkedin.com/in/austin-leaming/">Austin Leaming</a></p>
          <p><i class="fab fa-linkedin me-3"></i><a class="text-reset" href="https://www.linkedin.com/in/harinder-grewal-01/">Harinder Grewal</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>

  
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">Tokenize</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script>
    const toggleButton = document.querySelector('.toggle-button')
    const navbarLinks = document.querySelector('.nav-links')
    const moveNavBar = document.querySelector('.move-nav-bar')
    let navBarPressedExpand = toggleButton.addEventListener('click', function(){
      navbarLinks.classList.toggle('active');
      moveNavBar.style.marginBottom = "300px";
    })

  </script>
</body>
</html>