{% extends 'base.html' %}
{% block content %}
<h1 style="margin-top: 10%;"></h1>
<section class="container mt-3">
    <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-blend-screen rounded-3 mb-3" style="background-image: url('static/images/hero-banner.png')">
        <strong><h1 class="display-2">Welcome to Tokenize</h1></strong>
        <strong></strong><p class="lead">Developed by Creators For Creators</p>
        <hr class="my-4">
        <p class="display-6">Explore, discover, and collect NFT's on the worlds largest NFT marketplace</p>
        <a class="btn btn-dark btn-lg" href="/nfts" role="button">Discover</a>
    </div>
</section>
<div class="container">
    <h2 class="text-center">Cryptocurrency</h2>
</section>
<section id="products" class="collapse multi-collapse show">
  <div class="container py-5">
    <div class="row pb-3">
      <div class="col-12 text-start">
        <h2 class="h4">Currently trending</h2>
      </div>
    </div>
    <div class="products row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
      
      {% for i in coins %}
      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <div class="card-header">{{ i.name }} - {{ i.symbol }}</div>
            <p class="card-text">
              Current Price: ${{ i.quote.USD.price }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}  
      </div>
    </div>
  </div>
</section>

{% endblock %}