{% extends 'base.html' %}
{% block content %}
<h1 style="margin-top: 10%;"></h1>
<section class="container mt-3">
    <div class="jumbotron px-3 py-4 px-sm-4 py-sm-5 bg-light rounded-3 mb-3" style = "background-image: url">
        <h1 class="display-2">Welcome to Tokenize</h1>
        <p class="lead">Developed by Creators For Creators</p>
        <hr class="my-4">
        <p class="display-6">Explore, discover, and collect NFT's on the worlds largest NFT marketplace</p>
        <a class="btn btn-dark btn-lg" href="/nfts" role="button">Discover</a>
    </div>
</section>
<div class="container">
    <h2 class="text-center">Notable Collectibles</h2>


    <!-- <div class="container py-3">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-8 text-center text-lg-start mb-3 mb-lg-0">
            <span class="h3">Show Products and Categories</span>
        </div>
        <div class="col-12 col-sm-6 col-lg-4 text-center text-lg-end mb-3 mb-lg-0">
            <div class="btn-group" role="group" aria-label="Product Toggle">
                <a class="btn btn-secondary" data-bs-toggle="collapse" href="#productcat" role="button" aria-expanded="false" aria-controls="productcat">Categories</a>
                <a class="btn btn-dark" data-bs-toggle="collapse" href="#products" role="button" aria-expanded="true" aria-controls="products">Products</a>
                <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" data-bs-target=".multi-collapse" aria-controls="productcat products">Toggle</a>
            </div>
        </div>
    </div>
</div> -->
<!-- <section id="productcat" class="collapse multi-collapse">
  <div class="container py-5">
    <div class="row pb-3">
      <div class="col-12 text-start">
        <h2 class="h4">Product Categories</h2>
      </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
      <div class="col">
        <div class="card card-product-category h-100 mb-2">
          <div class="card-body">
            <h3 class="card-title">Category 1</h3>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, molestiae.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-product-category h-100 mb-2">
          <div class="card-body">
            <h3 class="card-title">Category 2</h3>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, repellat rem at quisquam magnam quis voluptatibus nostrum, fuga facere voluptatum cupiditate ut natus ipsa iusto numquam beatae repudiandae error recusandae.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
<section id="products" class="collapse multi-collapse show">
  <div class="container py-5">
    <div class="row pb-3">
      <div class="col-12 text-start">
        <h2 class="h4">View All</h2>
      </div>
    </div>
    <div class="products row row-cols-2 row-cols-lg-4 g-2 g-lg-3">
      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 1</h2>
            <p class="card-text">
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </div>
      </div>
      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 2</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 3</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 4</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 5</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 6</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 7</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 8</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 9</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 10</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 11</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>      <div class="product col">
        <div class="card card-product shadow-sm">
          <img src="https://dummyimage.com/300x300/dadada/9a9a9a.jpg&text=dummy+product+image" alt="">
          <div class="card-body">
            <h2 class="card-title">Product 12</h2>
            <p class="card-text">lorem ipsum dolor sit namet</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  

{% endblock %}